################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SfmlHolaMundo/v15/ipch/AutoPCH/372038fcebc84dd0
